<div class="explore-hero-image w-full h-56">
  <img src="assets/explore-images/explore-hero-image-2.png" class="w-full h-full object-cover rounded-bl-[50%]" alt="">
</div>

<div class="w-full px-4 sm:px-6 lg:px-12 py-10">

  <h1 class="text-3xl sm:text-4xl font-bold text-center text-gray-800 mb-4">
    Explore Products
  </h1>

  <!-- PRODUCT GRID -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <!-- Single Product Card -->
    <div *ngFor="let p of products" (click)="openDetail(p)"
      class="cursor-pointer bg-white rounded-xl shadow-md hover:shadow-lg transition-all duration-300 flex flex-col items-center text-center py-2">

      <!-- Product Image -->
      <img [src]="p.image" [alt]="p.name" class="w-72 h-72 object-contain mb-6" />

      <!-- Category -->
      <h2 class="text-lg sm:text-xl font-semibold text-gray-700">
        {{ p.category }}
      </h2>

      <!-- Product Name -->
      <h3 class="text-xl sm:text-2xl font-bold text-[#151B4E] mt-1 mb-6">
        {{ p.name }}
      </h3>

      <!-- Button -->
      <button
        class="bg-[#74236C] text-white text-lg font-semibold px-6 py-2 rounded-full shadow hover:bg-[#5a1a54] transition">
        Product Detail
      </button>
    </div>
  </div>

</div>

<div class="mt-6 md:mt-8 mb-8">
  <img src="assets/explore-images/banner-image.jpg" alt="#" class="w-full h-full">
</div>


<!-- Header -->
<div class="text-left px-2 sm:px-6 pt-6">
  <!-- <p class="text-xs sm:text-sm text-secondary tracking-[0.2em] uppercase mb-2">Customer Reviews</p> -->
  <h2 class="font-bold leading-tight tracking-tight text-2xl md:text-4xl lg:text-5xl text-[#0e1649]">
    <span>Explore More</span>
    <span
      class="sm:ml-2 inline-flex items-center rounded-md bg-gradient-to-r from-[#6a1b6e]/12 to-[#b21e6b]/12  px-2.5 py-1">
      <span
        class="font-semibold rounded-md text-white bg-gradient-to-r from-[#74236C] to-[#74236C] px-2 py-1">Products</span>
    </span>
  </h2>
  <p class="text-sm md:text-lg text-secondary mt-2">
   Explore additional models with detailed specs and features.
  </p>
</div>
<app-winix-product-card></app-winix-product-card>