.no-scrollbar {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  cursor: grab;
}
.no-scrollbar.grabbing {
  cursor: grabbing;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0.6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
.animate-scaleUp {
  animation: scaleUp 0.25s ease-out forwards;
}

video {
  display: block;
  max-height: 90vh;
  margin: auto;
}

/* Arrow stays inside section */
button {
  transition: none;
}
