<section class="min-h-screen bg-white text-primary">
  <div class="max-w-full mx-auto px-6 md:px-8 py-10">
    <!-- Header -->
    <h1 class="text-center text-3xl sm:text-4xl lg:text-5xl font-bold mb-10 tracking-tight">
      Terms & Conditions
    </h1>


    <!-- Content Wrapper (centered) -->
    <div>
      <!-- Intro -->
      <div class="mb-6 border-b-2 pb-5" id="intro">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Winix India – General Terms &
          Conditions</h2>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          Welcome to Winix India, managed by <span class="text-primary font-semibold">SHA MAKNAJI VEERCHAND. <br>
          </span> By purchasing from or using our website<a href="https://winixindia.in" target="_blank"
            class="text-pri hover:text-pri-2 transition-colors">
            https://winixindia.in
          </a>.
          you agree to comply with the following <br> Terms and Conditions. Please read them carefully before placing an
          order.
        </p>
      </div>

      <!--Article 1 – Definitions -->
      <div class="mb-6 border-b-2 pb-5" id="cookies">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 1 – Definitions</h2>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          In these Terms and Conditions:
        </p>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed mb-3">
          <li> <span class="font-semibold text-primary">Company / Seller / Winix India:</span> SHA MAKNAJI VEERCHAND,
            the entity offering products and services through its website or authorized channels</li>
          <li> <span class="font-semibold text-primary">Consumer:</span> A natural person purchasing goods for personal
            use and not for resale or business purposes.</li>
          <li> <span class="font-semibold text-primary">Offer:</span> Any proposal by Winix India to sell products or
            services.</li>
          <li> <span class="font-semibold text-primary">Agreement: </span>A legally binding contract between Winix India
            and the consumer upon order confirmation.</li>
          <li> <span class="font-semibold text-primary">Digital Content: </span> Data produced and supplied in digital
            form</li>
          <li> <span class="font-semibold text-primary">Right of Withdrawal / Cancellation:</span> : The consumer’s
            right to cancel an eligible purchase within the applicable return period.</li>
          <li> <span class="font-semibold text-primary">Right of Withdrawal / Cancellation:</span> : The consumer’s
            right to cancel an eligible purchase within the applicable return period.</li>
          <li> <span class="font-semibold text-primary">Working Day:</span>Any day except Sunday or a public holiday
            recognized in India.</li>
        </ul>
      </div>

      <!-- Article 2 – Identity of the Company -->
      <div class="mb-6 border-b-2 pb-5" id="license">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 2 – Identity of the Company
        </h2>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          <span class="font-semibold text-primary">SHA MAKNAJI VEERCHAND</span>
        </p>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          <span class="font-semibold text-primary">Customer Care:</span>
          +91 8885241706
        </p>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          <span class="font-semibold text-primary">Email:</span>
          <a href="mailto:care@justshop24x7.com" class="text-pri hover:text-pri-2 transition-colors">
            {{emailText}}
          </a>
        </p>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          <span class="font-semibold text-primary">Website:</span>
          <a href="https://winixindia.in" target="_blank" class="text-pri hover:text-pri-2 transition-colors">
            https://winixindia.in
          </a>
        </p>
      </div>

      <!-- Article 3 – Applicability -->
      <div class="mb-6 border-b-2 pb-5" id="orders-payments">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 3 – Applicability</h2>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>These Terms apply to all offers, sales, and distance contracts between Winix India and consumers.</li>
          <li>Consumers can access these Terms on the website before placing any order.</li>
          <li>Any deviation or special condition is valid only if confirmed in writing by Winix India.</li>
          <li>In case of conflict, the terms more favourable to the consumer shall apply.</li>
        </ul>
      </div>

      <!-- Article 4 – The Offer -->
      <div class="mb-6 border-b-2 pb-5" id="shipping">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 4 – The Offer</h2>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>All offers remain valid while stocks last or until withdrawn</li>
          <li>Product descriptions, images, and specifications are accurate to the best of our knowledge, though minor
            variations may occur</li>
          <li>Typographical or pricing errors do not bind the company.</li>
        </ul>
      </div>

      <!-- Article 5 – The Agreement -->
      <div class="mb-6 border-b-2 pb-5" id="shipping">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 5 – The Agreement</h2>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>The Agreement becomes effective when the consumer places an order and Winix India acknowledges it
            electronically.</li>
          <li>Secure online transactions are processed through verified payment gateways.</li>
          <li>The company reserves the right to cancel suspicious or unauthorized orders.</li>
        </ul>
      </div>

      <!-- Article 6 – Right of Withdrawal / Cancellation -->
      <div class="mb-6 border-b-2 pb-5" id="shipping">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 6 – Right of Withdrawal /
          Cancellation</h2>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3 italic">
          (Applicable for purchases made directly from Winix India)
        </p>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>Consumers may cancel their purchase within 7 days of
            receiving the product, provided it is unused, undamaged, and in
              original packaging.</li>
          <li>Products must include all accessories, manuals, and invoices.</li>
          <li>Refunds (excluding shipping charges) are processed within 7–10
              working days after inspection.</li>
          <li>Cancellations are not allowed for personalized or consumable items (e.g., air filters) once opened.</li>
        </ul>
      </div>

      <!-- Article 7 – Consumer Obligations During Return Period -->
      <div class="mb-6 border-b-2 pb-5" id="shipping">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 7 – Consumer Obligations
          During Return Period</h2>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>Consumers must handle products with care and retain them in original condition.</li>
          <li>Any signs of damage, wear, or excessive use may reduce the refund amount.</li>
        </ul>
      </div>

      <!-- Article 8 – Exercise of the Right of Withdrawal and Return Costs -->
      <div class="mb-6 border-b-2 pb-5" id="returns">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 8 – Exercise of the Right of
          Withdrawal and Return Costs</h2>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>To initiate a return, contact care&#64;justshop24x7.com or
            submit a request via the Return Form on our website.</li>
          <li>Return shipping costs are borne by the consumer unless otherwise specified.</li>
          <li>If the product is defective or damaged upon arrival, Winix India will cover both-way transportation
            charges.</li>
        </ul>
      </div>

      <!-- Article 9 – Company’s Obligations in Returns -->
      <div class="mb-6 border-b-2 pb-5" id="user-content">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 9 – Company’s Obligations in
          Returns</h2>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>All valid return requests are acknowledged promptly.</li>
          <li>Refunds are issued through the same payment mode used for purchase.</li>
          <li>Replacement products are dispatched after receiving and verifying the returned unit.</li>
        </ul>
      </div>

      <!-- Article 10 – Exclusion of Right of Withdrawal -->
      <div class="mb-6 border-b-2 pb-5" id="user-content">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 10 – Exclusion of Right of
          Withdrawal</h2>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          The right to cancel or return does not apply to:
        </p>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>Used or physically damaged products.</li>
          <li>Consumable items (such as filters) once opened or used.</li>
          <li>Customized or made-to-order products.</li>
          <li>Products that cannot be returned for hygiene or safety reasons.</li>
        </ul>
      </div>

      <!-- Article 11 – Pricing -->
      <div class="mb-6 border-b-2 pb-5" id="user-content">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 11 – Pricing</h2>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          The right to cancel or return does not apply to:
        </p>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>All prices are listed in Indian Rupees (INR) and include
            applicable GST.</li>
          <li>Winix India reserves the right to adjust prices due to tax changes, import duties, or currency
            fluctuations.</li>
        </ul>
      </div>

      <!--Article 12 – Warranty and Additional Guarantee -->
      <div class="mb-6 border-b-2 pb-5" id="user-content">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 12 – Warranty and Additional
          Guarantee</h2>
        <!-- 1st -->
        <h3 class="text-lg sm:text-xl font-semibold text-primary mb-2 tracking-tight">1. Warranty Coverage</h3>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          Winix Air Purifiers are warranted to be free from manufacturing defects in materials and workmanship for 24
            months from the date of purchase.
          During this period, Winix will repair or replace the product (at its discretion) free of charge for parts and
          labour.
        </p>

        <!-- 2nd -->
        <h3 class="text-lg sm:text-xl font-semibold text-primary mb-2 tracking-tight">2. Warranty Validity</h3>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>Valid only for the first end user and is non-transferable.
          </li>
          <li>Service is available only upon presentation of the original
              purchase invoice.</li>
          <li>Applicable exclusively to purchases from authorized Winix dealers
              or official online stores.</li>
        </ul>

        <!-- 3rd -->
        <h3 class=" mt-3 text-lg sm:text-xl font-semibold text-primary mb-2 tracking-tight">3. Warranty Exclusions.</h3>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          This warranty does not cover:
        </p>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>Damage due to misuse, mishandling, negligence, or unauthorized repair.</li>
          <li>Commercial or industrial use.</li>
          <li>Power surges, lightning, fire, water damage, or other natural causes.</li>
          <li>Consumable parts like HEPA, carbon, or pre-filters
            requiring periodic replacement.</li>
          <li>Altered or missing serial numbers.</li>
          <li>Damage caused by liquid spillage, corrosion, or insect infestation.</li>
        </ul>

        <!-- 4th -->
        <h3 class="text-lg mt-2 sm:text-xl font-semibold text-primary mb-2 tracking-tight">4. Warranty Service</h3>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>Service is provided only at Winix Authorized Service
              Centres.</li>
          <li><span class="font-semibold text-primary">Transportation Costs:</span></li>
          <li class="list-none">
            <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
              <li>The customer bears one-way shipping to the service
                centre.</li>
              <li>Winix bears return shipping after warranty repair.
              </li>
            </ul>
          </li>
          <li>Damage caused by liquid spillage, corrosion, or insect infestation.</li>
        </ul>

        <!-- 5th -->
        <h3 class="text-lg mt-2 sm:text-xl font-semibold text-primary mb-2 tracking-tight">5. Limitation of Liability
        </h3>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          This warranty does not cover:Winix is not liable for any indirect, incidental, or consequential damages
          including loss of use, data, or profits.
        </p>

        <!-- 6th -->
        <h3 class="text-lg mt-2 sm:text-xl font-semibold text-primary mb-2 tracking-tight">6. Governing Law</h3>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          This warranty is governed by the laws of India.
          All disputes fall under the exclusive jurisdiction of Pune,
            Maharashtra courts.
        </p>
        <p class="text-base sm:text-lg text-secondary leading-relaxed mb-3">
          <span class="font-semibold text-primary">Note:</span> Regular maintenance and timely replacement of filters
          are necessary for optimal performance. Refer to the user manual for cleaning and replacement guidelines.
        </p>
      </div>

      <!-- Article 13 – Delivery and Execution -->
      <div class="mb-6 border-b-2 pb-5" id="user-content">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 13 – Delivery and Execution
        </h2>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>Dispatch is typically completed within 2–5 working days of
            order confirmation.</li>
          <li>Risk passes to the consumer upon delivery.</li>
          <li>In case of delay, consumers will be notified and may cancel the order without penalty.</li>
        </ul>
      </div>

      <!-- Article 14 – Duration, Termination, and Renewal -->
      <div class="mb-6 border-b-2 pb-5" id="user-content">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 14 – Duration, Termination,
          and Renewal</h2>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>Subscription-based or recurring services (if applicable) can be cancelled with one month’s written notice.</li>
          <li>Renewals occur only with the consumer’s explicit consent.</li>
          <li>In case of delay, consumers will be notified and may cancel the order without penalty.</li>
        </ul>
      </div>

      <!-- Article 15 – Payment Terms -->
      <div class="mb-6 border-b-2 pb-5" id="user-content">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 15 – Payment Terms</h2>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>Accepted payment modes include credit/debit cards, UPI, net
              banking, and other approved methods.</li>
          <li> COD orders require full payment upon delivery.</li>
          <li>In case of non-payment or chargeback, Winix India reserves
            the right to cancel or withhold delivery.</li>
        </ul>
      </div>

      <!-- Article 16 – Complaints and Grievance Redressal -->
      <div class="mb-6 border-b-2 pb-5" id="user-content">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 16 – Complaints and Grievance
          Redressal</h2>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>Consumers may contact care&#64;justshop24x7.com or the
           Grievance Officer listed on the website.</li>
          <li>Complaints are acknowledged within 48 hours and resolved
            within 30 days.</li>
          <li>If unresolved, consumers may escalate matters under the Consumer
              Protection (E-commerce) Rules, 2020.</li>
        </ul>
      </div>

      <!-- Article 17 – Dispute Resolution and Governing Law -->
      <div class="mb-6 border-b-2 pb-5" id="user-content">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 17 – Dispute Resolution and
          Governing Law</h2>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>These Terms are governed by Indian law.</li>
          <li>Any disputes shall be subject to the exclusive jurisdiction of
              Pune courts, Maharashtra.</li>
          <li>If unresolved, consumers may escalate matters under the Consumer
              Protection (E-commerce) Rules, 2020.</li>
        </ul>
      </div>

      <!-- Article 18 – Supplementary or Deviating Provisions -->
      <div class="mb-6 border-b-2 pb-5" id="user-content">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 18 – Supplementary or
          Deviating Provisions</h2>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>Any additional provisions must be in writing and not disadvantageous to the consumer.</li>
          <li>In case of ambiguity, the interpretation most favourable to the consumer shall prevail.</li>
          <li>If unresolved, consumers may escalate matters under the Consumer
              Protection (E-commerce) Rules, 2020.</li>
        </ul>
      </div>


      <!-- <div class="mb-6 border-b-2 pb-5" id="user-content">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Article 9 – Company’s Obligations in
          Returns</h2>
        <div class="h-1 w-16 bg-gradient-to-r from-pri to-transparent mb-4 rounded-full"></div>
        <ul class="list-disc pl-5 space-y-2 text-base sm:text-lg text-secondary leading-relaxed">
          <li>All valid return requests are acknowledged promptly.</li>
          <li>Refunds are issued through the same payment mode used for purchase.</li>
          <li>Replacement products are dispatched after receiving and verifying the returned unit.</li>
        </ul>
      </div> -->

      <!-- Links -->
      <!-- <div class="mb-6 border-b-2 pb-5" id="links">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Links to Third-Party Sites</h2>
        <div class="h-1 w-16 bg-gradient-to-r from-pri to-transparent mb-4 rounded-full"></div>
        <p class="text-base sm:text-lg text-secondary leading-relaxed">
          To the fullest extent permitted by law, Winixair shall not be liable for any indirect, incidental, special,
          consequential, or punitive damages arising from your use of the website or products.
        </p>
      </div> -->

      <!-- Limitation of Liability -->
      <!-- <div class="mb-6 border-b-2 pb-5" id="liability">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Limitation of Liability</h2>
        <div class="h-1 w-16 bg-gradient-to-r from-pri to-transparent mb-4 rounded-full"></div>
        <p class="text-base sm:text-lg text-secondary leading-relaxed">
          These Terms are governed by the laws of India. Any disputes shall be subject to the exclusive jurisdiction of
          competent courts in Anantapur, Andhra Pradesh.
        </p>
      </div> -->

      <!-- Governing Law -->
      <!-- <div class="mb-6 border-b-2 pb-5" id="law">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Governing Law & Jurisdiction</h2>
        <div class="h-1 w-16 bg-gradient-to-r from-pri to-transparent mb-4 rounded-full"></div>
        <p class="text-base sm:text-lg text-secondary leading-relaxed">
          We may update these Terms from time to time. Continued use of the website after changes constitutes acceptance
          of the revised Terms.
        </p>
      </div> -->

      <!-- Changes -->
      <!-- <div class="mb-10 border-b-2 pb-5" id="changes">
        <h2 class="text-xl sm:text-2xl font-bold text-primary mb-3 tracking-tight">Changes to These Terms</h2>
        <div class="h-1 w-16 bg-gradient-to-r from-pri to-transparent mb-4 rounded-full"></div>
        <p class="text-base sm:text-lg text-secondary leading-relaxed font-sans mb-3">
          If you find any link on our website offensive, contact us to report it. We will review requests to remove links but are not obligated to act or respond directly.
        </p>
        <p class="text-base sm:text-lg text-secondary leading-relaxed font-sans">
          We do not guarantee the accuracy or completeness of information on this website, nor do we ensure its availability or that content is kept up to date.
        </p>
      </div> -->

      <!-- Contact Us -->
      <!-- <div id="contact-info border-b-2 pb-5" class="mb-10">
        <h2 class="text-2xl font-bold text-primary mb-3 tracking-tight">Contact Us</h2>
        <div class="h-1 w-16 bg-gradient-to-r from-pri to-transparent mb-6 rounded-full"></div>

        <div class="bg-gray-50 p-6 rounded-2xl shadow-sm border border-gray-200">
          <h3 class="text-xl font-semibold text-primary mb-4">Winix India</h3>
          <ul class="space-y-3 text-base sm:text-lg text-secondary">
            <li class="flex items-start gap-3">
              <span class="text-2xl"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                </svg>
              </span>
              <span>14/123, Kamalanagar, Anantapur – 515001, India</span>
            </li>
            <li class="flex items-start gap-3">
              <span class="text-2xl"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                </svg>
              </span>
              <span>+91 90144 12394</span>
            </li>
            <li class="flex items-start gap-3">
              <span class="text-2xl"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                </svg>
              </span>
              <span>+91 88852 41706</span>
            </li>
            <li class="flex items-start gap-3">
              <span class="text-2xl"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                </svg>
              </span>
              <a href="mailto:care@justshop24x7.com" class="text-pri hover:text-pri-2 transition-colors">
                {{emailText}}
              </a>
            </li>
            <li class="flex items-start gap-3">
              <span class="text-2xl"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                </svg>
              </span>
              <a href="https://winixindia.in" target="_blank" class="text-pri hover:text-pri-2 transition-colors">
                https://winixindia.in
              </a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>

    <!-- Back to Top -->
    <div class="fixed bottom-7 left-6 border-b-2 pb-5">
      <button
        class="rounded-full bg-pri text-white p-3 shadow-lg hover:bg-pri-2 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-pri/50"
        aria-label="Back to top" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd"
            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
  </div>
</section>