<div class="explore-hero-image w-full h-50 md:h-60">
  <img [src]="product.heroImage" class="w-full h-full object-cover rounded-bl-[50%]" alt="">
</div>


<div class="w-full px-4 sm:px-8 lg:px-16 py-10" *ngIf="product">

  <!-- TOP SECTION -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
    <!-- LEFT SIDE: IMAGE + GALLERY -->
    <div>
      <!-- MAIN IMAGE BOX -->
      <div class="w-full bg-white border rounded-md p-6 flex items-center justify-center">
        <img [src]="mainImage" [alt]="product.name" class="max-h-[450px] object-contain" />
      </div>

      <!-- GALLERY -->
      <div class="flex flex-wrap justify-between items-center">
        <div class="relative w-contant mt-4">
          <!-- Left Arrow -->
          <button
            class="absolute left-0 top-1/2 h-full -translate-y-1/2 bg-gray-800/50 text-white p-2 rounded-full z-10"
            (click)="slideLeft()">
            ‹
          </button>

          <!-- Thumbnails Slider -->
          <div class="flex gap-3 overflow-x-hidden scroll-smooth" #thumbsContainer>
            <img *ngFor="let img of product.gallery; let i = index" [src]="img" [alt]="product.name"
              (click)="selectImage(i)"
              class="h-20 w-20 object-contain rounded-xl border cursor-pointer transition-all duration-200" [ngClass]="{
        'border-2 border-[#74236C]': selectedIndex === i,
        'border-gray-300': selectedIndex !== i
      }" />
          </div>

          <!-- Right Arrow -->
          <button
            class="absolute right-0 top-1/2 h-full -translate-y-1/2 bg-gray-800/50 text-white p-2 rounded-full z-10"
            (click)="slideRight()">
            ›
          </button>

        </div>
        <div class="flex gap-2">
          <button routerLink="{{product.url}}"
            class="bg-[#6c2065] mt-6 px-7 py-2 text-white text-md rounded-full font-semibold hover:bg-[#5a1a54] transition shadow-lg">
            Buy this product
          </button>

          <button (click)="openManual()"
            class="bg-[#211E5A] mt-6 px-7 py-2 text-white text-md rounded-full font-semibold hover:bg-[#1a1749] transition shadow-lg">
            User Manual
          </button>

        </div>

      </div>
    </div>

    <!-- RIGHT SIDE: DETAILS -->
    <div>
      <p class="text-[24px] text-[#241f56] font-semibold uppercase">
        {{ product.category || 'Air Purifier' }}
      </p>

      <h1 class="text-3xl sm:text-4xl font-bold text-[#272256] leading-tight">
        {{ product.shortTitle }}
      </h1>

      <p class="text-[15px] text-gray-700 mt-4 leading-relaxed">
        {{ product.shortDescription }}
      </p>

      <p class="text-[15px] text-gray-700 mt-4 leading-relaxed" [innerHTML]="product.longDescription">
        <!-- {{ product.longDescription }} -->
      </p>

      <div class="flex gap-2">
        <button (click)="openVideo()"
          class="bg-[#241f56] mt-6 px-7 py-2 text-white text-md rounded-full font-semibold hover:bg-[#1e1a49] transition shadow-lg">
          ► Productvideo
        </button>

        <button *ngIf="product?.ahemCertificate" (click)="openAhemCertificate()"
          class="bg-[#6c2065] mt-6 px-7 py-2 text-white text-md rounded-full font-semibold hover:bg-[#5a1a54] transition shadow-lg">
          Ahem Certificate
        </button>
      </div>
    </div>
  </div>
  <!-- ========================= -->
  <!--         TABS             -->
  <!-- ========================= -->

  <div class="mt-12 flex flex-wrap gap-2 md:gap-1 lg:gap-0 overflow-x-auto pb-3"> <!-- Product Description --> <button
      class="w-full border border-[#211E5A] md:w-fit px-6 py-3 text-md font-semibold rounded-full whitespace-nowrap transition-all duration-300"
      [ngClass]="{ 'bg-[#211E5A] text-white shadow-md': activeTab === 'description', 'bg-transparent text-[#211E5A]': activeTab !== 'description' }"
      (click)="setTab('description')"> Product Description </button> <!-- PlasmaWave Technology --> <button
      class="w-full md:w-fit border border-[#211E5A] px-6 py-3 text-md font-semibold rounded-full whitespace-nowrap transition-all duration-300"
      [ngClass]="{ 'bg-[#211E5A] text-white shadow-md': activeTab === 'technology', 'bg-transparent text-[#211E5A]': activeTab !== 'technology' }"
      (click)="setTab('technology')"> PlasmaWave® Technology </button> <!-- Advantages --> <button
      class="w-full border border-[#211E5A] md:w-fit px-6 py-3 text-md font-semibold rounded-full whitespace-nowrap transition-all duration-300"
      [ngClass]="{ 'bg-[#211E5A] text-white shadow-md': activeTab === 'advantages', 'bg-transparent text-[#211E5A]': activeTab !== 'advantages' }"
      (click)="setTab('advantages')"> Product Advantages </button> <!-- Specifications --> <button
      class="w-full border border-[#211E5A] md:w-fit px-6 py-3 text-md font-semibold rounded-full whitespace-nowrap transition-all duration-300"
      [ngClass]="{ 'bg-[#211E5A] text-white shadow-md': activeTab === 'specs', 'bg-transparent text-[#211E5A]': activeTab !== 'specs' }"
      (click)="setTab('specs')"> Product Specifications </button> <!-- Filter --> <button
      class="w-full border border-[#211E5A] md:w-fit px-6 py-3 text-md font-semibold rounded-full whitespace-nowrap transition-all duration-300"
      [ngClass]="{ 'bg-[#211E5A] text-white shadow-md': activeTab === 'filter', 'bg-transparent text-[#211E5A] border': activeTab !== 'filter' }"
      (click)="setTab('filter')"> WINIX Filter O </button> </div>

  <!-- TAB CONTENT -->
  <div class="mt-6 bg-gray-50 px-6 py-3 rounded-sm text-lg leading-relaxed">
    <div *ngIf="activeTab === 'description'">
      <p *ngFor="let para of product.tabs.description" class="mb-4 text-[#241f56] text-sm" [innerHtml]="para">
        <!-- {{ para }} -->
      </p>
    </div>

    <div *ngIf="activeTab === 'technology'">
      <p *ngFor="let para of product.tabs.technology" class="mb-4 text-[#241f56] text-sm" [innerHtml]="para">
        <!-- {{ para }} -->
      </p>
    </div>

    <!-- <p *ngIf="activeTab === 'technology'">
      {{ product.tabs.technology }}
    </p> -->

    <!-- ADVANTAGES TAB -->
    <div *ngIf="activeTab === 'advantages'">
      <div *ngFor="let adv of product.tabs.advantages; let i = index" class="">
        <p class="py-3 text-sm">
          <span class="text-sm font-semibold text-[#241f56]">{{i + 1}}) {{adv.title}}</span> – {{adv.text}}
        </p>
      </div>

    </div>

    <!-- PRODUCT SPECIFICATIONS TABLE -->
    <div *ngIf="activeTab === 'specs'" class="mt-6 text-gray-700 text-lg">
      <div class="w-full p-1 md:p-6">
        <div class="divide-y">

          <div *ngFor="let item of product?.tabs?.specifications |  keyvalue: keepOrder" class="grid grid-cols-2 py-4">
            <p class="font-semibold text-gray-800 text-sm">{{ item.key }}</p>
            <p class="text-gray-800 text-sm font-medium">{{ item.value }}</p>
          </div>
        </div>
      </div>

    </div>


    <div *ngIf="activeTab === 'filter'" class="mt-6 text-gray-700 text-sm leading-relaxed">
      <!-- TITLE -->
      <p class="font-bold text-[#74236C] text-xl mb-4">
        {{ product.tabs.filter.title }}
      </p>

      <!-- SUBTITLE -->
      <p class="mb-6">
        {{ product.tabs.filter.subtitle }}
      </p>

      <!-- DETAILS PARAGRAPHS -->
      <div class="space-y-3 mb-6">
        <p *ngFor="let d of product.tabs.filter.details" [innerHtml]="d">
        </p>
      </div>

      <!-- STEPS TITLE -->
      <p class="font-semibold mt-4 mb-2">
        {{ product.tabs.filter.stepsTitle }}
      </p>

      <!-- STEPS LIST -->
      <ol class="list-decimal pl-6 space-y-2 mb-6">
        <li *ngFor="let step of product.tabs.filter.steps">
          {{ step }}
        </li>
      </ol>

      <!-- NOTE -->
      <p class="italic mb-4">
        {{ product.tabs.filter.note }}
      </p>

      <!-- REMINDER -->
      <p class="font-semibold">
        {{ product.tabs.filter.reminder }}
      </p>

    </div>
  </div>

  <!-- Four state of purification -->
  <div class="w-full py-8 md:py-10">
    <h2 class="text-center text-2xl md:text-3xl font-semibold text-[#1C1C3C] mb-10">
      Four stages of purification
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 px-6 md:px-10">
      <!-- Prefilter -->
      <div class="flex flex-col items-center text-center">
        <div class="w-24 h-24 rounded-full overflow-hidden bg-white shadow-md flex items-center justify-center mb-4">
          <img src="assets/explore-images/explore-icons/prefilter-segment.webp" alt="Prefilter"
            class="w-full h-full object-cover" />
        </div>
        <h3 class="text-lg md:text-xl font-semibold text-[#1C1C3C]">Prefilter</h3>
        <p class="text-gray-600 text-sm md:text-base mt-2 leading-relaxed max-w-[290px]">
          The pre-filter filters out large particles and thus extends the life of the HEPA filter.
        </p>
      </div>

      <!-- HEPA Filtration -->
      <div class="flex flex-col items-center text-center">
        <div class="w-24 h-24 rounded-full overflow-hidden bg-white shadow-md flex items-center justify-center mb-4">
          <img src="assets/explore-images/explore-icons/feature-image-3-small.webp" alt="HEPA Filtration"
            class="w-full h-full object-cover" />
        </div>
        <h3 class="text-lg md:text-xl font-semibold text-[#1C1C3C]">HEPA Filtration</h3>
        <p class="text-gray-600 text-sm md:text-base mt-2 leading-relaxed max-w-[290px]">
          A true HEPA filter filters out 99.99% of particles larger than 0.01 microns such as PM2.5, PM10, pollen &
          bacteria.
        </p>
      </div>

      <!-- Activated Charcoal -->
      <div class="flex flex-col items-center text-center">
        <div class="w-24 h-24  rounded-full overflow-hidden bg-white shadow-md flex items-center justify-center mb-4">
          <img src="assets/explore-images/explore-icons/carbon-fragment.webp" alt="Activated Charcoal"
            class="w-full h-full object-cover" />
        </div>
        <h3 class="text-lg md:text-xl font-semibold text-[#1C1C3C]">Activated charcoal</h3>
        <p class="text-gray-600 text-sm md:text-base mt-2 leading-relaxed max-w-[290px]">
          Activated charcoal reduces formaldehyde and other chemicals present in the air.
        </p>
      </div>

      <!-- PlasmaWave -->
      <div class="flex flex-col items-center text-center">
        <div class="w-24 h-24  rounded-full overflow-hidden bg-white shadow-md flex items-center justify-center mb-4">
          <img src="assets/explore-images/explore-icons/feature-image-4-small.webp" alt="PlasmaWave Technology"
            class="w-full h-full object-cover" />
        </div>
        <h3 class="text-lg md:text-xl font-semibold text-[#1C1C3C]">PlasmaWave® Technology</h3>
        <p class="text-gray-600 text-sm md:text-base mt-2 leading-relaxed max-w-[290px]">
          PlasmaWave® Technology breaks down viruses, bacteria & harmful chemicals at the molecular level.
        </p>
      </div>

    </div>
  </div>

  <!-- Purifire -->
  <div class="w-full py-5 md:py-14 bg-white">
    <h2 class="text-center text-2xl md:text-3xl font-semibold text-[#1C1C3C] mb-12">
      Purifies
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-6 md:px-16">

      <!-- Item -->
      <div class="flex flex-col items-center text-center">
        <div
          class="w-24 h-24 rounded-full bg-gray-50 hover:bg-[#E8F5E9] transition-all duration-150 cursor-pointer flex items-center justify-center shadow mb-4">
          <img src="assets/explore-images/explore-icons/ozone_free.webp" class="w-12 h-12 object-contain" />
        </div>
        <h3 class="text-lg font-semibold text-[#1C1C3C] tracking-wide">OZONE-FREE</h3>
        <div class="w-16 h-1 bg-green-700 my-2"></div>
        <p class="text-gray-600 text-sm max-w-[240px] leading-relaxed">
          The devices are safe because they do not produce toxic ozone.
        </p>
      </div>

      <!-- Item -->
      <div class="flex flex-col items-center text-center">
        <div
          class="w-24 h-24 rounded-full bg-gray-50 hover:bg-[#E8F5E9] transition-all duration-150 cursor-pointer flex items-center justify-center shadow mb-4">
          <img src="assets/explore-images/explore-icons/polution.webp" class="w-12 h-12 object-contain" />
        </div>
        <h3 class="text-lg font-semibold text-[#1C1C3C] tracking-wide">PM PARTICLES</h3>
        <div class="w-16 h-1 bg-green-700 my-2"></div>
        <p class="text-gray-600 text-sm max-w-[240px] leading-relaxed">
          Removes PM particles as small as 0.003 microns (PM2.5, PM10) with 99.99% efficiency.
        </p>
      </div>

      <!-- Item -->
      <div class="flex flex-col items-center text-center">
        <div
          class="w-24 h-24 rounded-full bg-gray-50 hover:bg-[#E8F5E9] transition-all duration-150 cursor-pointer flex items-center justify-center shadow mb-4">
          <img src="assets/explore-images/explore-icons/bacteria.webp" class="w-12 h-12 object-contain" />
        </div>
        <h3 class="text-lg font-semibold text-[#1C1C3C] tracking-wide">BACTERIA AND VIRUSES</h3>
        <div class="w-16 h-1 bg-green-700 my-2"></div>
        <p class="text-gray-600 text-sm max-w-[240px] leading-relaxed">
          The HEPA filter combined with PlasmaWave® technology reduces bacteria and viruses.
        </p>
      </div>

      <!-- Item -->
      <div class="flex flex-col items-center text-center">
        <div
          class="w-24 h-24 rounded-full bg-gray-50 hover:bg-[#E8F5E9] transition-all duration-150 cursor-pointer flex items-center justify-center shadow mb-4">
          <img src="assets/explore-images/explore-icons/pet_dander.webp" class="w-12 h-12 object-contain" />
        </div>
        <h3 class="text-lg font-semibold text-[#1C1C3C] tracking-wide">PET DANDRUFF</h3>
        <div class="w-16 h-1 bg-green-700 my-2"></div>
        <p class="text-gray-600 text-sm max-w-[240px] leading-relaxed">
          Removes pet dander and fine hair.
        </p>
      </div>

      <!-- Item -->
      <div class="flex flex-col items-center text-center">
        <div
          class="w-24 h-24 rounded-full bg-gray-50 hover:bg-[#E8F5E9] transition-all duration-150 cursor-pointer flex items-center justify-center shadow mb-4">
          <img src="assets/explore-images/explore-icons/pollen.webp" class="w-12 h-12 object-contain" />
        </div>
        <h3 class="text-lg font-semibold text-[#1C1C3C] tracking-wide">ALLERGY</h3>
        <div class="w-16 h-1 bg-green-700 my-2"></div>
        <p class="text-gray-600 text-sm max-w-[240px] leading-relaxed">
          Eliminates pollen from the air. Especially useful for allergy sufferers.
        </p>
      </div>

      <!-- Item -->
      <div class="flex flex-col items-center text-center">
        <div
          class="w-24 h-24 rounded-full bg-gray-50 hover:bg-[#E8F5E9] transition-all duration-150 cursor-pointer flex items-center justify-center shadow mb-4">
          <img src="assets/explore-images/explore-icons/mold_spores.webp" class="w-12 h-12 object-contain" />
        </div>
        <h3 class="text-lg font-semibold text-[#1C1C3C] tracking-wide">MOLD SPORES</h3>
        <div class="w-16 h-1 bg-green-700 my-2"></div>
        <p class="text-gray-600 text-sm max-w-[240px] leading-relaxed">
          Removes mold spores.
        </p>
      </div>

      <!-- Item -->
      <div class="flex flex-col items-center text-center">
        <div
          class="w-24 h-24 rounded-full bg-gray-50 hover:bg-[#E8F5E9] transition-all duration-150 cursor-pointer flex items-center justify-center shadow mb-4">
          <img src="assets/explore-images/explore-icons/cigarette.webp" class="w-12 h-12 object-contain" />
        </div>
        <h3 class="text-lg font-semibold text-[#1C1C3C] tracking-wide">CIGARETTE SMOKE</h3>
        <div class="w-16 h-1 bg-green-700 my-2"></div>
        <p class="text-gray-600 text-sm max-w-[240px] leading-relaxed">
          Reduces cigarette smoke.
        </p>
      </div>

      <!-- Item -->
      <div class="flex flex-col items-center text-center">
        <div
          class="w-24 h-24 rounded-full bg-gray-50 hover:bg-[#E8F5E9] transition-all duration-150 cursor-pointer flex items-center justify-center shadow mb-4">
          <img src="assets/explore-images/explore-icons/chemicals.webp" class="w-12 h-12 object-contain" />
        </div>
        <h3 class="text-lg font-semibold text-[#1C1C3C] tracking-wide">CHEMICALS</h3>
        <div class="w-16 h-1 bg-green-700 my-2"></div>
        <p class="text-gray-600 text-sm max-w-[240px] leading-relaxed">
          Activated charcoal reduces various chemicals.
        </p>
      </div>

    </div>
  </div>

  <!-- Aplus images -->
  <div class="mt-10">
    <div *ngFor="let img of product.aplus" class="mb-10">
      <img [src]="img" class="w-full rounded-xl shadow" />
      <hr class="my-1 md:my-5 border-gray-200" />
    </div>
  </div>

  <!-- RELATED PRODUCTS SECTION -->
  <div class="mt-5 md:mt-10">
    <h2 class="text-2xl text-center md:text-start md:text-3xl font-bold text-[#241f56] mb-4 md:mb-8">
      Explore More Products
    </h2>

    <!-- GRID LAYOUT FIXED -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 w-full">

      <!-- Normal Product Cards -->
      <div *ngFor="let r of relatedProducts" (click)="openDetail(r)"
        class="cursor-pointer bg-white rounded-3xl p-6 shadow-md text-center">

        <img [src]="r.image" class="w-64 md:w-56 object-contain mx-auto mb-6" />
        <h3 class="text-xl font-semibold text-[#151B4E] mb-2">{{ r.shortTitle }}</h3>

        <button class="bg-[#74236C] text-white px-5 py-2 rounded-full font-medium hover:bg-[#5a1a54]">
          View Product
        </button>
      </div>

      <!-- SLIDER CARD FIXED -->
      <div class="hidden md:block bg-white shadow-sm rounded-3xl p-4 border border-gray-300">

        <div class="w-full h-44 rounded-lg overflow-hidden relative">
          <img class="w-full h-full object-cover" [src]="items[index()].image" />

          <!-- Prev -->
          <button (click)="prev()" class="absolute left-2 top-1/2 -translate-y-1/2 bg-white/80 hover:bg-white 
                 text-gray-700 w-8 h-8 rounded-full flex justify-center items-center shadow">
            ‹
          </button>

          <!-- Next -->
          <button (click)="next()" class="absolute right-2 top-1/2 -translate-y-1/2 bg-white/80 hover:bg-white 
                 text-gray-700 w-8 h-8 rounded-full flex justify-center items-center shadow">
            ›
          </button>
        </div>

        <h3 class="mt-3 text-lg font-semibold underline text-gray-900 leading-5">
          {{ items[index()].title }}
        </h3>

        <p class="text-sm text-gray-500">
          {{ items[index()].short }}
        </p>

        <button (click)="go(items[index()].slug)"
          class="mt-3 bg-[#101A50] hover:bg-[#191f49] text-white w-full py-2 rounded-xl">
          View Details
        </button>

      </div>

    </div>
  </div>

  <!-- =============================== -->
  <!--     ADDITIONAL INFORMATION      -->
  <!-- =============================== -->

  <!-- <div class="mt-12 border-t pt-6">
    <h2 class="text-2xl font-bold text-gray-900 mb-4">Additional Information</h2>

    <div class="space-y-3 text-lg text-gray-700">
      <p><strong>Manufacturer:</strong> {{ product.additionalInfo.manufacturer }}</p>
      <p><strong>Packer:</strong> {{ product.additionalInfo.packer }}</p>
      <p><strong>Importer:</strong> {{ product.additionalInfo.importer }}</p>
    </div>
  </div> -->

  <!-- Winix winipedia -->

  <div class="block md:hidden w-full bg-white shadow-xl rounded-2xl p-3">
    <!-- Image -->
    <div class="w-full h-40 overflow-hidden rounded-xl relative">
      <img class="w-full h-full object-cover" [src]="items[index()].image" />

      <!-- Prev Button -->
      <button (click)="prev()" class="absolute left-2 top-1/2 -translate-y-1/2 bg-white/80
                   hover:bg-white text-gray-700 w-8 h-8 rounded-full flex
                   justify-center items-center shadow">
        ‹
      </button>

      <!-- Next Button -->
      <button (click)="next()" class="absolute right-2 top-1/2 -translate-y-1/2 bg-white/80
                   hover:bg-white text-gray-700 w-8 h-8 rounded-full flex
                   justify-center items-center shadow">
        ›
      </button>
    </div>

    <!-- Title -->
    <h3 class="mt-2 text-lg font-semibold text-gray-900">
      {{ items[index()].title }}
    </h3>

    <p class="text-sm text-gray-500">{{ items[index()].short }}</p>

    <!-- Click to go -->
    <button class="mt-3 bg-[#101A50] hover:bg-[#191f49] text-white w-full py-2 rounded-xl"
      (click)="go(items[index()].slug)">
      View Details
    </button>
  </div>

</div>

<!-- IN CASE PRODUCT IS NOT FOUND -->
<div class="p-10 text-center text-gray-500 text-xl" *ngIf="!product">
  Product not found.
</div>

<!-- VIDEO POPUP MODAL -->
<div *ngIf="showVideo"
  class="fixed inset-0 bg-black bg-opacity-60 backdrop-blur-sm flex items-center justify-center z-50">
  <div class="w-full max-w-6xl relative">

    <!-- CLOSE BUTTON (FIXED + HIGHEST Z-INDEX) -->
    <button (click)="closeVideo()"
      class="absolute top-1 right-1 z-50 text-3xl font-bold text-white bg-black bg-opacity-40 px-3 py-1 rounded-full hover:bg-opacity-70 cursor-pointer">
      ✕
    </button>

    <!-- VIDEO CONTAINER (PREVENT OVERLAP BLOCKING) -->
    <div class="relative z-40">
      <video [src]="videoUrl" controls autoplay class="w-full rounded-xl">
      </video>
    </div>

  </div>
</div>